@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

*{box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: "Hanken Grotesk";
}
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    width: 375px;
}


.container>div {
    width: 100%;
    height: 50%;
}

.container__result {
    background: linear-gradient(hsl(252, 100%, 67%) , hsl(241, 81%, 54%) );
    border-radius: 0 0 25px 25px;
}

.container {
    text-align: center;
}

.container__result_yourResult {
    padding: 1rem;
    color: #d0c3ff;
    
}

.container__circleResult {
    background: linear-gradient(hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;   
}

.circle-result-76 {
    padding: 0;
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.circle-result-100 {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    font-size: 1rem;
    color: #d0c3ff;
}

.container__great{
    width: 60%;
    margin: 0 auto;
    padding: 0;

}

.container__great_title {
    color: white;
    padding-bottom: 0.3rem;
    padding-top: 1rem;
    margin: 0;
}

.container__great_score{
    color: #d0c3ff;
    font-size: 13px;
    margin-top: 0;
    padding: 0;
    padding-bottom: 2rem;
}

.container__summary {
    padding: 0;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.container__summary_title {
    color: black;
    text-align: start;
}

.container__summary_Reaction{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    border-radius: 5px;
    background-color:hsla(0, 100%, 67%, 0.3) ;    
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 1rem;
}
.container__summary_Memory{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    border-radius: 5px;
    background-color: hsl(39, 100%, 56%,0.3) ;    
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 1rem;
}
.container__summary_Verbal{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    border-radius: 5px;
    background-color: hsl(166, 100%, 37%,0.3) ;    
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 1rem;
}
.container__summary_Visual{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    width: 100%;
    border-radius: 5px;
    background-color: hsl(234, 85%, 45%,0.3) ;    
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 1rem;
}
.container__summary
p{
    margin: 0;
    padding: 0;
}

.container__summary_percentage {
    color: gray;
}

span{
    font-weight: bold;
    color: black;
}

.Reaction_img{
    display: flex;
    gap: 10px;
    color:hsl(0, 100%, 65%);
}
.Memory_img{
    display: flex;
    gap: 10px;
    color: hsl(39, 100%, 56%);
}
.Verbal_img{
    display: flex;
    gap: 10px;
    color:hsl(166, 100%, 37%);
}
.Visual_img{
    display: flex;
    gap: 10px;
    color:hsl(234, 85%, 45%);
}
.container__summary > button{
    background-color: hsl(224,30%,27%);
    color: white;
    border-radius: 30px;
    padding: 0.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}